<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table id="supplier-table" class="row-border hover dt-head-body-center cell-border">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Supplier Name</th>
      <th scope="col">Active/Total</th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each_with_index do |supplier, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to supplier.supplier_name, supplier_path(supplier.id) %></td>
      <td data-sort="<%= supplier.products.active.count %>"><%= supplier.products.active.count %>/<%= supplier.products.count%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#supplier-table').DataTable({
      searching: false,
      lengthChange: false,
      columnDefs: [
        { orderable: false, "targets": [0,1] }
      ],
      order: []
    });
} );
</script>
