<p id="notice"><%= notice %></p>
<div id="supplier-info">
  <div class="media">
    <%= image_tag("fff.png", class: "mr-3") %>
    <div class="media-body">
      <h5 class="mt-0"><%= @supplier.supplier_name.upcase %></h5>
      <div><%= @supplier.decorate.address %></div>
      <div><%= @supplier.description %></div>
    </div>
  </div>
</div>
<div id="supplier-products">
  <div id="products-list-heading">Products</div>
  <div class="supplier-products-checkbox">
    <div class="custom-control custom-switch">
    <input class="custom-control-input" id="customSwitch" type="checkbox" data-id="<%= @supplier.id %>">
    <span class="custom-control-track"></span>
    <label class="custom-control-label" for="customSwitch">Show Inactive Products</label>
  </div>
  </div>
  <div id="replace">
  <div class="card-deck grid-container">
    <% @supplier_products.each_with_index do |product, index| %>
      <div class="card grid-item">
        <%= image_tag("fff.png") %>
        <div class="card-body">
        </div>
        <div class="card-footer">
          <medium class="text-muted">Product <%= product.id %></medium>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <%= link_to 'Back', suppliers_path, class: 'btn btn-info' %>
</div>

<script type='text/javascript'>
  $(document).ready(function(){
    $('#customSwitch').click(function(){
      var suppier_id = $(this).attr("data-id")
      var checked = $(this).prop("checked");
      if(checked) {
        $.ajax({
          url: `/suppliers/${suppier_id}/toggle_products`,
          data: { checked: true }
        })
      }else{
        $.ajax({
          url: `/suppliers/${suppier_id}/toggle_products`,
          data: { checked: false }
        })
      }
    })
  })
</script>
